.App {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 18%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}